<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
         $('#myInput').trigger('focus')
        })
    </script>
</head>
<body> 
    <div class="container" style="text-align:center">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Livros</b></h2></div>
                    <div class="col-sm-4" style="margin-top: 17px;">
                        <a class="add" href="{{ url_for('pagcadastro') }}" title="Inserir"><button type="button" class="btn btn-info add-new"><i class="fa fa-plus" action="{{ url_for('pagcadastro') }}"></i> Adicionar Livro</button></a>
                        <a class="edit" title="Editar" data-toggle="modal" data-target=".bd-example-modal-sm"><button type="button" class="btn btn-info add-new"><i class="fa fa-plus" action="{{ url_for('pagcadastro') }}"></i> Modificar Livro</button></a>

                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
           
            <table class="table table-bordered" style="text-align: center;">
                <thead>
                    <tr ></tr>
                        <th style="text-align: center;">id</th>
                        <th style="text-align: center;">Titulo</th>
                        <th style="text-align: center;">Ano</th>
                        <th style="text-align: center;">Autor</th>
                        <th style="text-align: center;">Editora</th>
                        <th style="text-align: center;">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="font-size:14px;">
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                              <h1 style="background-color:black;color:white;"> Editar Livro </h1>
                            <form action="{{ url_for('editar') }}" method="post">  
                                ID do Livro: <input type="number" name="id"><br>
                                Editar titulo:<input type="text" name="titulo"><br>
                                Editar ano:<input type="number" name="ano"><br>
                                Editar Autor:<input type="text" name="autor"><br>
                                Editar Editora:<input type="text" name="editora"><br>
                                <input type="submit" name="submit" value="editar"> 
                            </form>
                            <a class="button" href="{{ url_for('main') }}" title="Voltar" data-toggle="tooltip"><button> Voltar</button> </a><br>
                        </div>
                        <br>
                        </div>
                    </div>

                    </div>
                    {% block content %}
                    {% for livros in livros %}
                    
                    
                    <tr>
                        <td>{{livros ['id']}}</td>
                        <td>{{livros ['titulo']}}</td>
                        <td>{{livros ['ano']}}</td>
                        <td>{{livros ['autor']}}</td>
                        <td>{{livros ['editora']}}</td>
                        <td>
                            <a class="delete" href="{{ url_for('excluir', id = livros['id']) }}" title="Deletar" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    <tr>
                       
                            
                    {% endfor %}
                    {% endblock %}
                </tbody>
</body>
</html>